<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/layouts.css">
    <script defer src="../../../js/layouts.js"></script>
</head>

<body class="bg-primary-50">
   
    <nav class="relative">
        <%- include('../components/navBar') %>
        <header class="w-full h-[70vh] relative top-0   overflow-hidden header-habitat">
            <!-- <div class="absolute top-[-150px] left-0 w-full h-[35vh] overflow-hidden">
                <img src="../../../images/service-headerBG.jpg" alt="Service Header Background" class="w-full h-full object-contain top-position">
            </div> -->
        </header>
    </nav>
 
    
    
    <!-- habitat presention -->
   
    <main class="w-full h-fit pb-9 space-y-4  mt-10">
        
        <div class="flex flex-col space-y-20 gap-y-10">

            <div class="flex items-center justify-center flex-col space-y-2">
                <h1 class="font-neucha text-3xl text-center">Retrouver tous les animaux et leurs habitats</h1>
            </div>
        </div>

        <!-- animaux card  -->
        <div class="container flex flex-col justify-center  h-full mx-auto pt-5">
            <!-- cards -->
            <div class="h-full w-full space-y-8 md:space-y-0  md:pt-2 md:px-14 md:flex md:flex-row">

                <div class="container mx-auto">
                    <div class="flex flex-wrap justify-center gap-5">

                        <% if (habitats) { %>
                            <% habitats.forEach(habitat => { %>
                                <div class="flex flex-col items-center border rounded-md shadow-md w-[50vw] h-[50vh] md:w-[18vw] mx-auto gap-y-5 pb-3">
                                    <div class="w-full h-3/5">
                                        <img src="<%= habitat.images %>" alt="Photo habitat" class="rounded-t-md w-full h-full object-cover">
                                    </div>
                                    <div>
                                        <h1 class="font-muli text-xl text-center"><%= habitat.name %></h1>
                                    </div>
                                    <div class="flex items-center justify-center w-full h-1/5">
                                        <a href="/habitats/<%= habitat.habitat_id %>">
                                            <button class="flex items-center justify-center space-x-3 bg-secondary-100 w-36 h-9 md:w-32 rounded-sm text-white hover:text-black hover:bg-secondary-50 hover:scale-95 duration-150 ease-in">
                                                <p class="font-muli text-sm">Découvrir</p>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>

                    </div>
                </div>
                
            </div>
        </div>
  
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>
</body>
</html>