<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="../../../css/style.css">
    <link type="text/css" rel="stylesheet" href="../../../css/layouts.css">
    <script type="text/javascript" defer src="../../../js/layouts.js"></script>
</head>
<body class="bg-primary-50">
    <nav class="relative">
        <%- include('../components/navBar') %>
        <header class="w-full h-[70vh] relative top-0   overflow-hidden header-services">
            <!-- <div class="absolute top-[-150px] left-0 w-full h-[35vh] overflow-hidden">
                <img src="../../../images/service-headerBG.jpg" alt="Service Header Background" class="w-full h-full object-contain top-position">
            </div> -->
        </header>
    </nav>

    <main class="w-full h-fit pb-9  mt-10 px-14">
        
        <div class="flex flex-col space-y-20 gap-y-10">

            <div class="flex items-center justify-center flex-col space-y-2">
                <h1 class="font-neucha text-3xl text-center">Nos offres du moment !</h1>
                <p class="font-muli  text-center">
                    Chaque mois Arcadia vous propose de nouvelles activitées pour s’amuser en famille
                </p>
            </div>
            

            <% if (services !== null) { %>
                <% services.forEach(service => { %>
                    <div class="container md:flex md:mx-auto px-3">
                        <div class="h-fit w-fit mx-auto md:ml-10 md:mt-3">
                            <img src="<%= service.images.replace('/app/uploads', '') %>" alt="Photo habitat" class="w-[90vw] md:w-[40vw]">
                        </div>
                        <div class="mt-3 w-[80vw] md:w-[40vw] md:mx-0 md:ml-10 space-y-3 mx-auto">
                            <h1 class="font-neucha text-3xl text-center">
                                <%= service.name %>
                            </h1>
                            <p class="font-muli text-center">
                                <%= service.description %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="container flex items-center justify-center mt-10 w-full">
                    <h1 class="font-muli font-bold">Aucun service présent dans le zoo</h1>
                </div>
            <% } %>
           
        </div>
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>
</body>
</html>
